
  body{
background-color: rgba(7, 7, 230, 0.532)
  }  
  body {
    background-image: url('pictures/picture perfect.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

h1, h2, h3, ul, p {
    background-color: rgba(159, 127, 255, 0.664);
}
.box {
    background-image:url(pictures/free\ mind.webp);
    background-position: center;
    
}

img {
    width: 30vh;
}